#root {
    padding-top: 100px;
    padding-left: 100px;
}

.titulo {
    text-align: center;
    font-weight: bold;
}

.texto {
    text-align: center;
}

.carta {
    max-width: 20rem;
}

.h5 {
    text-align: center;
}